body, html{
    width: 100vw;
    margin : 0;
    padding: 0;
    overflow-x: hidden;
}
.title{
    background-image: url("image/couverture.jpg");
    height: 100vh;
    background-size: cover;
}


.bg-fonce{
    background-color:rgb(19, 70, 17)!important ;
    color : rgb(19, 70, 17);
    color : rgb(62, 137, 20);
    color : rgb(61, 163, 93);
    color : rgb(150, 224, 114);
    color : rgb(232, 252, 207);
    color:inherit;
}
.bg-claire{
    background-color: rgb(150, 224, 114)!important ;
}
.fonce{
    color : rgb(19, 70, 17)!important ;
}
.claire{
    color :  rgb(150, 224, 114)!important ;
}
body{
    background-image: url("image/fond_ecran.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.carousel{
   display: block;
}
.file{
    display: none;
}
@media (max-width: 500px ){
    .carousel {
      display: none;
    }
    .file{
        display: block;
    }
}

@media (min-width: 800px ) {
    article, main{
        padding-left:15%;
        padding-right:15%;
    }
    .actu{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width : 1200px){
    body{
        background-image: url("image/fond_ecran_large.jpg");
        background-size: cover;    
    }
}